body {
    min-height: 100vh;
}

.container {
    display: flex;
    background-color: #F0DBDB;
    width: 1500px;
    height: 1000px;
}


.box-one {
    width: 273px;
    height: 220px;
    background-color: #F7A4A4;


}


.box-two {
    width: 273px;
    height: 220px;
    background-color: #86A3B8;


}


.box-three {
    width: 273px;
    height: 220px;
    background-color: #F7A4A4;


}


.box-four {
    width: 273px;
    height: 220px;
    background-color: #86A3B8;


}


.box-five {
    width: 273px;
    height: 220px;
    background-color: #F7A4A4;
}



.circle {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}